

<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon icon shortcut" type="image/png" href="https://plugin.intuitcdn.net/sbg-web-shell-ui/6.3.0/shell/harmony/images/QBOlogo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script>

        var config = {
            authUri: '',
            redirectUri: '{{{ redirect_uri }}}'
        }
        var OAuthCode = function(config) {
            this.config = config;
            this.authUri = function () {

                // Generate the authUri
                $.get('/authUri', function (uri) {
                    config.authUri = uri
                    console.log('The URI is :'+uri);
                }).then(function () {

                    // Launch Popup using the JS window Object
                    var parameters = "location=1,width=800,height=650";
                    parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;
                    var win = window.open(config.authUri, 'connectPopup', parameters);
                    var pollOAuth = window.setInterval(function () {
                        try {
                            if (win.document.URL.indexOf("code") != -1) {
                                window.clearInterval(pollOAuth);
                                win.close();
                                location.reload();
                            }
                        } catch (e) {
                            console.log(e)
                        }
                    }, 100);
                });
            }
            this.refresh = function(){

                $.get('/refreshAccessToken', function(data){
                    console.log('The backend refresh called');
                    var json = JSON.stringify(data, null, 2);
                    $( '#accessToken' ).html( "test"+json );

                });
            };
        }

        var APIDemo = function() {
            this.getCompanyInfo = function() {
                $.get('/getCompanyInfo', function(data) {
                    var json = JSON.stringify(data, null, '  ');
                    $( '#apiCall' ).html( json );
                });
            }

             this.findCustomers = function() {
                $.get('/findCustomers', function(data) {
                    var json = JSON.stringify(data, null, '  ');
                    $( '#apiCall' ).html( json );
                });
            }
             this.findItems = function() {
                $.get('/findItems', function(data) {
                    var json = JSON.stringify(data, null, '  ');
                    $( '#apiCall' ).html( json );
                });
            }
        }

        var oauth = new OAuthCode(config);
        var apiDemo = new APIDemo();
    </script>
</head>
<body>

<div class="container">


   <pre id="accessToken">{{ token_json }}</pre>
    <a class="imgLink" href="#" onclick="oauth.authUri()"><img src="C2QB_green_btn_lg_default.png" width="178" /></a>
    <button  type="button" id="refreshToken" class="btn btn-success" onclick="oauth.refresh()">Refresh Token</button>
    <hr />

    <h2>Make an API call</h2><h4>( Please refer to our <a target="_balnk" href="https://developer.intuit.com/v2/apiexplorer?apiname=V3QBO#?id=Account">API Explorer</a> )</h4>
    <p>If there is no access token or the access token is invalid, click either the <b>Connect to QucikBooks</b> or <b>Sign with Intuit</b> button above.</p>
    <pre id="apiCall">{{ api_call }}</pre>
    <!--<a class="imgLink" href="#" onclick="oauth.loginPopup({openIDConnect: true})">Make an API call</a>-->
    <button  type="button" class="btn btn-success" onclick="apiDemo.getCompanyInfo()">Get Company Info</button>
<button  type="button" class="btn btn-success" onclick="apiDemo.findCustomers()">Get Customer</button>
<button  type="button" class="btn btn-success" onclick="apiDemo.findItems()">Get Bills</button>

    <hr />

    
</div>
</body>
</html>

